# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Pp]rofiler[Cc]aptures/

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Unity meta files for ignored directories
Assets/Plugins/Editor/JetBrains*

# Crashlytics
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Sample project assets
Assets/Art/
Assets/Art.meta
Assets/EndlessRunner/
Assets/EndlessRunner.meta
Assets/HDRPDefaultResources/
Assets/HDRPDefaultResources.meta
Assets/Input/
Assets/Input.meta
Assets/Prefabs/
Assets/Prefabs.meta
Assets/Scenes/GDC21_Demo.unity
Assets/Scenes/GDC21_Demo.unity.meta
Assets/Scenes/SampleScene/
Assets/Scenes/SampleScene.meta
Assets/Scripts/
Assets/Scripts.meta
Assets/Settings/DiffusionProfiles/
Assets/Settings/DiffusionProfiles.meta
Assets/Settings/HDRP*.asset
Assets/Settings/HDRP*.asset.meta
Assets/Settings/PlayerControllerFPS.prefab
Assets/Settings/PlayerControllerFPS.prefab.meta
Assets/Settings/Volumes/
Assets/Settings/Volumes.meta
Assets/SuperNova/
Assets/SuperNova.meta
Assets/TutorialInfo/
Assets/TutorialInfo.meta
Assets/Unity.VisualScripting.Generated/
Assets/Unity.VisualScripting.Generated.meta
Assets/VisualScripting/
Assets/VisualScripting.meta
